In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA


sns.set()
sns.set_style("whitegrid") #for whitebackground charts


pd.set_option('display.max_rows', 100)

In [5]:
wd = 'C:/Users/Thurstan/pyprojects/202005kmeanstest/kmeans/'

In [7]:
DF = pd.read_csv(wd + 'breastcancertestdata.csv'
                     ,sep=','
                   
                     )

In [8]:
DF.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [10]:
features = list(DF.columns)[:-2]
display(features)

['Age',
 'BMI',
 'Glucose',
 'Insulin',
 'HOMA',
 'Leptin',
 'Adiponectin',
 'Resistin']

In [15]:

### Get the features data
data = DF[features].copy()

display(data.head())

   Age        BMI  Glucose  Insulin      HOMA   Leptin  Adiponectin  Resistin
0   48  23.500000       70    2.707  0.467409   8.8071     9.702400   7.99585
1   83  20.690495       92    3.115  0.706897   8.8438     5.429285   4.06405
2   82  23.124670       91    4.498  1.009651  17.9393    22.432040   9.27715
3   68  21.367521       77    3.226  0.612725   9.8827     7.169560  12.76600
4   86  21.111111       92    3.549  0.805386   6.6994     4.819240  10.57635

In [23]:
clustering_kmeans = KMeans(n_clusters=4, precompute_distances="auto", n_jobs=-1)

In [24]:
data['clusters'] = clustering_kmeans.fit_predict(data)

In [25]:
display(data.head())

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,clusters
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,3
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,1

In [26]:
data.groupby(['clusters']).size()

clusters
0    26
1    41
2     3
3    46
dtype: int64

In [27]:
data

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,clusters
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,3
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,1
...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,0
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,1
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,0
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,1
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,0

In [22]:
### Run PCA on the data and reduce the dimensions in pca_num_components dimensions
reduced_data = PCA(n_components=pca_num_components).fit_transform(data)
results = pd.DataFrame(reduced_data,columns=['pca1','pca2'])

sns.scatterplot(x="pca1", y="pca2", hue=data['clusters'], data=results)
plt.title('K-means Clustering with 2 dimensions')
plt.show()

NameError: name 'pca_num_components' is not defined